body {
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: #F2F2F2;
    font-family: 'SF Mono', 'Monaco', 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#countdown-container {
    background-color: #8d0e19;
    padding: 20px 40px;
    text-align: center;
    border: 3px solid #F2F2F2;
    border-radius: 10px;
}

#countdown {
    font-size: 48pt;
    font-weight: bold;
    color: #F2F2F2;
}
